<form action="/search" method="get">
  <label for="searchedName">Name: </label>
  <input type="text" name="searchedName" id="searchedName" />
  <label for="searchedEmail">Email: </label>
  <input type="text" name="searchedEmail" id="searchedEmail" />
  <button type="submit">Search</button>
</form>
